/*////////////////////////////////////////////////////*/
/*//////***** FONTS IMPORT & TW INIT  ///////////******/
/*////////////////////////////////////////////////////*/

@import url('https://fonts.googleapis.com/css2?family=Assistant:wght@200;300;400;500;600;700;800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

		/*///////////////////////////////////*/			

/*////////////////////////////////////////////////////*/

/*//////****  RESET, BODY & HTML STYLES  ////////******/

/*////////////////////////////////////////////////////*/

		/*///////////////////////////////////*/

* {
	@apply m-0 p-0 box-border outline-none;
}

body {
    @apply w-full font-Assistant text-black antialiased overflow-hidden;
}

nav li svg {
	@apply ml-3 text-white/60 -rotate-90 drop-shadow transition-all duration-100 ease-out;
}

textarea {
	@apply resize-none;
}

textarea::-webkit-scrollbar {
	@apply hidden;
}

@layer components {

			/*///////////////////////////////////*/		

	/*////////////////////////////////////////////////////*/

	/*//////*****  APP CONTAINERS STYLES  //////////*******/

	/*////////////////////////////////////////////////////*/

			/*///////////////////////////////////*/

	.app-container {
		@apply h-screen bg-slate-50 overflow-y-scroll overflow-x-hidden snap-y snap-mandatory 
		scroll-smooth snap-always;
	}

	.app-container::-webkit-scrollbar {
		@apply hidden;
	}

			/*///////////////////////////////////*/			

	/*////////////////////////////////////////////////////*/

	/*///////////******  NAV STYLES  //////////////********/

	/*////////////////////////////////////////////////////*/
			
			/*///////////////////////////////////*/

	.landing-nav {
		box-shadow: 0 2.5px 5px 0 #0000004d;
		@apply fixed top-0 left-0 right-0 h-[4.75rem] bg-[#0f1129] flex items-center
		justify-between px-16 py-2 z-30;
	}

	.landing-nav-li {
		@apply relative flex flex-col justify-center items-start h-full font-AirBnbCerealMedium
		uppercase tracking-wider text-[0.9rem] leading-5 text-white cursor-pointer 
		transition-all duration-[350ms] ease-out;
	}

	.nav-item {
		@apply flex items-center px-5 h-full text-center transition-all duration-[350ms] ease-out;
	}

	.nav-item:hover {
		box-shadow: inset 0 0 0 2.5px #fffffff2;
		text-shadow: 3px 3px 3px #00012933;
		@apply bg-[#D4021F];
	}

	.nav-dropdown-container {
		box-shadow: 1px 3px 4px 2px #0306174d;
		filter: drop-shadow(3px 3px 3px #0306174d);
		@apply absolute top-[4.281rem] left-0 bg-[#0f1129] text-sm text-center leading-4 z-10;
	}

	.nav-dropdown-container.bikes {
		@apply w-[121.5px];
	}

	.nav-dropdown-container.off-road {
		@apply w-[141.56px];
	}

	.nav-dropdown-container.inst {
		@apply w-[194.81px];
	}

	.nav-dropdown-item {
		@apply w-full;
	}

	.nav-dropdown-item-text {
		@apply w-full block py-3 tracking-widest transition-all ease-out;
	}

	.nav-dropdown-item-text:hover {
		text-shadow: 3px 3px 3px #0001294d;
		@apply bg-[#f5001de4];
	}

	.nav-dropdown-item-text.px-7:hover {
		box-shadow: inset 4px 0 5px -2px #00001abf;
	}

	.nav-dropdown-item-layer {
		box-shadow: inset 4px 0 5px -2px #00001abf;
		@apply absolute left-[7.6rem] top-0 bg-[#0f1129];
	}

			/*///////////////////////////////////*/			

	/*////////////////////////////////////////////////////*/

	/*////////////*****  HERO STYLES  ///////////////******/

	/*////////////////////////////////////////////////////*/
			
			/*///////////////////////////////////*/

	.landing-h1-btn {
		box-shadow: 0 0 2px 1px #d4021e05;
		@apply absolute top-[16rem] left-1/2 -translate-x-1/2 px-5 py-3 -mt-3 rounded-md
		bg-black/80 text-center z-10 transition-all duration-200 ease-out cursor-pointer
		border-[3.8px] border-[#f40e0e] border-opacity-80;
	}
	
	.landing-h1 {
		filter: drop-shadow(-2px -2px 3px #d4021e4d);
		text-shadow: 1px 1px 3px #d4021e4d;
		@apply font-AirBnbCerealBold uppercase text-[1.45rem] tracking-[0.05rem] leading-[1.7rem]
		text-white/95 transition-all duration-200 ease-out;
	}

	.landing-h1-btn:hover {
		@apply bg-black/95 border-opacity-95;
	}

	.landing-h1-btn:hover .landing-h1 {
		box-shadow: 0 0 3px 2px #00001abf;
		@apply text-white;
	}

	.hero-carousel-slider {
		box-shadow: 0 2px 3px 0 #0000001f;
		@apply w-full absolute h-[23rem] bg-cover block mt-[4.6rem] transition-all duration-500;
	}

	.hero-carousel-btn {
		@apply absolute top-[9.2rem] p-16 text-[2.25rem] text-[#ffffffd9] transition-all ease-out;
	}

	.hero-carousel-btn:hover {
		@apply text-white;
	}

	.hero-carousel-icon {
		filter: drop-shadow(2.5px 4.5px 1.5px #02061780);
		@apply transition-all ease-out;
	}

	.hero-carousel-btn:hover .hero-carousel-icon {
		filter: drop-shadow(2.5px 4.5px 1.5px #030617e6);
	}

	.hero-carousel-btn.left {
		@apply left-0;
	}
	
	.hero-carousel-btn.right {
		@apply right-0;
	}

	.hero-carousel-scrolling-btn {
		box-shadow: 0 0 3px 2px #00001a2b, inset 0 0 3px 2px #0001292b;
		@apply absolute  top-[16.55rem] left-1/2 -translate-x-1/2 grid place-items-center
		py-[0.675rem] px-[1.375rem] rounded-md bg-[#eb0a1de6] text-white tracking-[0.089rem]
		font-AirBnbCerealBold uppercase text-[0.985rem] transition-all ease-out duration-100;
	}

	.hero-carousel-scrolling-btn:hover {
		@apply bg-[#f2f2f2d9] text-black;
	}
	
	.hero-carousel-scrolling-btn span {
		text-shadow: 1.75px 1.75px 5px #00000012;
		@apply transition-all ease-out;
	}

	.hero-carousel-scrolling-btn:hover span {
		text-shadow: .75px .75px .75px #000000;
	}
	
	.hero-logos-shadow {
		@apply absolute top-0 h-full w-28;
	}

	.hero-logos-shadow.left {
		background: linear-gradient(to left, #ffffff00, #f8fafc);
		@apply left-0;
	}

	.hero-logos-shadow.right {
		background: linear-gradient(to right, #ffffff00, #f8fafc);
		@apply right-0;
	}

			/*///////////////////////////////////*/		

	/*////////////////////////////////////////////////////*/

	/*///***  FEATURED PRODUCTS SECTION STYLES  /////******/

	/*////////////////////////////////////////////////////*/

			/*///////////////////////////////////*/

	.featured-products-container {
		box-shadow: inset 0 4px 4px 0 #0000001a, 0 1px 3px 2px #00000046;
		@apply h-screen bg-[#B50016] flex flex-col gap-7 justify-center;
	}

	.product-card-img {
		box-shadow: 0 0 3px 2px #00000066, inset .5px .5px 3px 4px #00000080;
		filter: brightness(1.0055) contrast(1.005) saturate(1.15) grayscale(0);
		@apply absolute aspect-[3/4.03] inset-0 bg-cover bg-center rounded-md transition-all
		ease-out duration-[250ms];
	}

	.product-card-img.hide {
		filter: brightness(1) contrast(1) saturate(1) grayscale(.5);
		box-shadow: 0 0 5px 2px #330000b3, inset .5px .5px 3px 4px #00000080;
	}

	.product-card-title-container {
		filter: drop-shadow(3px 3px 3px #00000080);
		@apply absolute h-full w-full flex flex-col items-center justify-center text-white transition-all
		duration-[250ms] ease-out cursor-pointer z-10 pointer-events-auto opacity-100;
	}

	.product-card-title-container.hide {
		filter: drop-shadow(3px 3px 3px #00000080);
		@apply pointer-events-none opacity-0;
	}
	
	.product-card-title {
		text-shadow: -3px -5px 7px #00000033;
		filter: drop-shadow(3px 4px 5px #00000033);
		@apply mt-[.6rem] text-[1.3rem] font-AirBnbCerealMedium border-b-[3px] border-[#f40e0e]
		border-opacity-70 transition-all duration-[250ms] ease-out;
	}
	
	.product-card-icon {
		filter: brightness(.9) contrast(1.2) saturate(1.5);
		box-shadow: 0 0 1px 3px #e0e0e0f2;
		@apply ml-4 mb-2 text-[1.35rem] text-[#38b0ff] transition-all ease-out rounded-full;
	}
	
	.product-card-hover-btn {
		filter: drop-shadow(3px 4px 5px #0000001a);
		box-shadow: inset .7px .7px 1.5px 3px #000000d9;
		@apply relative h-0 aspect-square rounded-full bg-[#24a324] opacity-0 transition-all
		ease-out duration-[250ms];
	}

	.product-card-hover-icon {
		filter: drop-shadow(1px 1px 2px #0000001a);
		@apply absolute top-1/2 -translate-y-1/2 translate-x-1/2 right-1/2 text-[#010702cc]
		text-[1.1rem] transition-all ease-out duration-[250ms] opacity-0;
	}
	
	/*////////////////////////////////////////////////////*/
	/*//////****  CARD TITLE HOVER STYLES  //////////******/
	/*////////////////////////////////////////////////////*/
	
	.product-card-title-container:hover + .product-card-img {
		box-shadow: 0 0 5px 2px #330000b3, inset .5px .5px 3px 4px #00000080;
		filter: brightness(1) contrast(1) saturate(1) grayscale(.5);
	}

	.product-card-title-container:hover .product-card-title {
		text-shadow: -3px -5px 7px #0000008c;
		filter: drop-shadow(3px 4px 5px #0000008c);
		@apply border-opacity-80;
	}

	.product-card-title-container:hover .product-card-icon {
		box-shadow: 0 0 1px 3px #ffffffd6;
		filter: brightness(2) contrast(1.5) saturate(1.5);
		@apply text-[#1e2b9b];
	}

	.product-card-title-container:hover .product-card-hover-btn {
		filter: drop-shadow(3px 4px 5px #0000001a);
		box-shadow: inset .7px .7px 1.5px 3px #000000d9;
		@apply h-[2.1rem] opacity-100;
	}

	.product-card-title-container:hover .product-card-hover-icon {
		filter: drop-shadow(1px 1px 2px #0000001a);
		@apply opacity-100;
	}


	/*////////////////////////////////////////////////////*/
	/*////**  CARD CONTENT STYLES & CLOSE BTN  ////////****/
	/*////////////////////////////////////////////////////*/

	.product-card-content-container {
		@apply absolute w-full h-full opacity-0 -translate-x-4 transition-all duration-[250ms]
		ease-out pointer-events-none;
	}

	.product-card-content-container.show {
		@apply -translate-x-0 opacity-100 pointer-events-auto;
	}

	.product-card-close-container {
		@apply absolute top-0 right-0 w-[5.5rem] aspect-square flex justify-end pr-5 pt-[.85rem]
		cursor-pointer opacity-0 transition-all duration-[250ms] ease-out pointer-events-none z-10;
	}

	.product-card-close {
		box-shadow: 0 0 1px 2.25px #ffffffd6;
		@apply text-[1.475rem] text-[#e22222f2] rounded-full transition-all ease-out;
	}

	.product-card-close-container.show {
		@apply opacity-100 pointer-events-auto;
	}

	.product-card-close-container:hover .product-card-close {
		box-shadow: 0 0 1px 2.25px #c5c5c5f2;
		@apply text-[#ee2c2c];
	}

	.product-card-content {
		@apply absolute inset-0 flex flex-col items-start justify-end px-5 rounded-md
		bg-black/[.69] text-white;
	}

	.product-card-brand {
		box-shadow: 0 0 .5px 2.5px #ffffff20;
		@apply absolute top-[2px] left-[2px] px-4 bg-white/[.15] rounded-ee-md rounded-ss-[.2rem];
	}

	.product-card-content-img {
		filter: brightness(1.15) contrast(1.5) saturate(1.00005) drop-shadow(2.5px 2.5px 3.5px #171717);
		@apply aspect-square object-contain object-center;
	}

	.product-card-text {
		text-shadow: 2.5px 2.5px 3px #000000d9;
		filter: drop-shadow(-2.5px -2.5px 3px #000000a6);
		@apply font-light text-[.9rem] leading-[1.49];
	}

	/*////////////////////////////////////////////////////*/
	/*//////****  CARD CONTENT BTN STYLES  //////////******/
	/*////////////////////////////////////////////////////*/

	.product-card-btn-container {
		@apply w-36 pb-[1.65rem] pt-[.925rem];
	}

	.product-card-btn {
		box-shadow: 2.7px 2.7px 1.6px 2px #af040c4d;
		@apply w-fit bg-black/[.68] border-[#f40e0e] border-[2.95px] rounded-md border-opacity-[.825]
		drop-shadow-md shadow-black transition-all ease-out;
	}
	
	.product-card-btn-span {
		text-shadow: 1.25px 1.25px 2px #f50d0d7a;
		@apply block px-[1.2rem] py-[.5rem] font-bold text-[.9rem] tracking-[.07rem] text-white/95
		transition-all ease-out;
	}

	.product-card-btn-container:hover .product-card-btn {
		box-shadow: 2px 2px 1px 1.25px #af040c80;
		@apply bg-black border-opacity-90;
	}

	.product-card-btn-container:hover .product-card-btn-span {
		text-shadow: 1.25px 1.25px 2px #f50f0fbf;
		@apply text-white;
	}

	/*////////////////////////////////////////////////////*/
	/*/////***  FEATURED PRODUCT FORM STYLES  ///////******/
	/*////////////////////////////////////////////////////*/
    
	.product-form-container {
		@apply fixed inset-0 h-full w-full grid place-items-center opacity-0 transition-all z-30
		duration-[350ms] ease-out bg-black/40 pointer-events-none;
	}

	.product-form-container.show {
	    @apply bg-black/40 opacity-100 pointer-events-auto;
    }

	.product-form-data-container {
		box-shadow: inset 0 0 6.5px 3.25px #003eb159, 0 0 3px 2px #0a4bff0d;
	    @apply h-[25rem] w-3/5 grid grid-cols-3 opacity-0 bg-[#0a1758] py-6 px-7 gap-7
		rounded-md transition-all duration-[350ms] ease-out -translate-y-[2.1rem] text-white;
    }

	.product-form-data-container.show {
		box-shadow: inset 0 0 6.5px 3.25px #003eb159, 0 0 3px 2px #0a4bff0d;
	    @apply opacity-100 -translate-y-0;
    }

	.product-form-close-container {
		@apply transition-all duration-[350ms] ease-out opacity-0 z-10 pb-8 pl-8;
	}

	.product-form-close-container.show {
		@apply opacity-100;
	}
	
	.product-form-close-btn {
		box-shadow: 0 0 1px 3.25px #ffffffd6;
		@apply text-[#e22222f2] text-[1.75rem] rounded-full transition-all ease-out opacity-95;
	}

	.product-form-close-container.show:hover .product-form-close-btn {
		box-shadow: 0 0 1px 3.25px #c5c5c5f2;
		@apply text-[#ee2c2c] opacity-100;
	}

	.product-form-h4 {
		contain: content;
		text-shadow: 1px 1px 1px #3d40ff62;
		filter: drop-shadow(2px 2px 3px #0015d149);
		@apply font-AirBnbCerealMedium text-[1.4rem] border-b-[3px] w-fit
		border-[#f40e0e] border-opacity-[.7485];
    }

 	.product-form-img-container {
		@apply absolute -top-6 -right-7 -bottom-6 left-5 bg-black/[.1925] rounded-se-md rounded-es-md;
	}

	.product-form-img-box {
		@apply w-52 absolute translate-x-1/2 right-1/2 translate-y-1/2 bottom-1/2 mb-3 grid place-items-center;
	}

	.product-form-img {
		filter: brightness(1.05) contrast(1.2) saturate(1.000015) drop-shadow(2.5px 2.5px 3px #00000079);
		@apply w-full block;
	}

	.product-form-input {
		box-shadow: 1px 1px 4px 1.5px #040f2a26;
        @apply outline-none bg-[#04102b] rounded-md px-[.68rem] py-[.8rem] placeholder-white/[.75]
		placeholder:tracking-wide placeholder:text-[.95rem] transition-all ease-out duration-200;
    }

	.product-form-input:hover {
		box-shadow: 1px 1px 4px .75px #db0000e3;
    }

	.product-form-input:focus {
		box-shadow: 1px 1px 4px .75px #db0000e3;
	}

	.product-form-submit {
		filter: drop-shadow(2px 2px 3px #0000004d);
		box-shadow: none;
		@apply px-[2.05rem] py-[.575rem] rounded-md bg-[#f41010c6] transition-all ease-out grid place-items-center;
	}

	.product-form-span {
		filter: none;
		@apply block font-bold text-[1.05rem] tracking-wide text-white/[.825] transition-all ease-out;
	}

	.product-form-submit:hover {
		filter: none;
		box-shadow: 0 0 4px 3px #f41010d2;
		@apply bg-white/[.0001];
	}

	.product-form-submit:focus {
		filter: none;
		box-shadow: 0 0 4px 3px #f41010d2;
		@apply bg-white/[.0001];
	}

	.product-form-submit:hover .product-form-span {
		filter: drop-shadow(1px 1px 1px #ff000080);
		@apply text-white;
	}
	
	.product-form-submit:focus .product-form-span {
		filter: drop-shadow(1px 1px 1px #ff000080);
		@apply text-white;
	}
			/*///////////////////////////////////*/			
			
	/*////////////////////////////////////////////////////*/

	/*//////****  ABOUT US SECTION STYLES  //////////******/

	/*////////////////////////////////////////////////////*/

			/*///////////////////////////////////*/

	.about-us-slider-container {
		box-shadow: 0 0 6px .25px #0a4bff18;
		@apply relative w-full;
	}

	.about-us-slider {
		filter: saturate(1.5) grayscale(.3) opacity(.9) blur(.5px);
		@apply h-56 bg-cover bg-no-repeat bg-center transition-all duration-500;
	}

	.about-us-h2 {
		text-shadow: -5px -5px 12px #00000059;
		filter: drop-shadow(5px 5px 12px #00000059);
		@apply absolute top-5 px-16 font-AirBnbCerealBold uppercase text-6xl text-white;
	}

	.about-us-h3 {
		text-shadow: 1px 1px 3px #0a4bff4d;
		@apply font-AirBnbCerealMedium leading-[1.325] tracking-[0.03rem] uppercase;
	}

	.about-us-cards {
		box-shadow: inset 0 0 5px 3px #001f75bf, 0 0 3px 2px #0a4bff17;
		@apply relative flex flex-col justify-center items-center gap-1 px-[1.15rem] bg-white/[.0001] 
		transition-all ease-out text-center rounded-md cursor-pointer;
	}

	.about-us-cards:hover {
		box-shadow: inset 0 0 5px 4px #001f75d9, 0 0 3px 2px #0a4bff06;
		@apply bg-[#081764];
	}

	.about-us-icon {
		filter: drop-shadow(1px 1.5px 2px #001f7545);
		@apply absolute scale-100 -top-[1.175rem] left-1/2 -translate-x-1/2 text-[3.5rem] text-[#B20419]
		transition-all ease-out z-10;
	}

	.about-us-cards:hover .about-us-icon {
		filter: drop-shadow(2px 2px 2.5px #0600298c);
		@apply scale-[1.07] text-[#e0141fe6];
	}

	.about-us-h4 {
		filter: drop-shadow(1px 1.5px 2px #001f7545);
		@apply font-AirBnbCerealLight text-[1.05rem] tracking-[.045rem] leading-[1.35] text-white pt-2 pb-1
		transition-all ease-out;
	}

	.about-us-cards:hover .about-us-h4 {
		filter: drop-shadow(2px 3px 3px #00001280);
	}

	.about-us-text {
		filter: drop-shadow(1px 1.5px 2px #001f7545);
		@apply font-light text-[.98rem] leading-[1.31] transition-all ease-out;
	}

	.about-us-cards:hover .about-us-text {
		filter: drop-shadow(2px 3px 3px #00001280);
	}

			/*///////////////////////////////////*/

	/*////////////////////////////////////////////////////*/

	/*//////*****  SERVICES SECTION STYLES  /////////******/

	/*////////////////////////////////////////////////////*/

			/*///////////////////////////////////*/

	.services-tabs-container {
		box-shadow: inset 0 0 5px 3px #001f75bf, 0 0 3px 2px #0a4bff17;
		@apply relative grid place-items-center mt-5 bg-white/[.0001] h-[23.4rem] w-full rounded-md transition-all
		duration-300 ease-out;
	}

	.services-tabs-ul {
		@apply absolute top-0 flex items-center justify-evenly w-full py-[.9rem];
	}

	.services-tabs-li {
		@apply  transition-all ease-out;
	}

	.services-tabs-li-span {
		filter: drop-shadow(1px 1.5px 2px #001f7545);
		@apply font-AirBnbCerealMedium text-[1.2rem] tracking-[.04rem] text-white;
	}

	.services-tabs-divisor {
		filter: blur(2px);
		@apply absolute top-14 h-1 bg-[#001f75bf] w-full;
	}
}
